<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>マイページ</title>
</head>

<body>
    <h1>マイページ</h1>

    <div>
        <label for="username">ユーザー名</label>
        <span id="username">デバッガー</span>
        <a href="/users/userName_edit/{id}"><button>ユーザー名変更</button></a>
    </div>

    <div>
        <label for="email">メールアドレス</label>
        <span id="email">admin@example.com</span>
        <a href="/users/email_edit/{id}"><button>メールアドレス変更</button></a>
    </div>

    <div>
        <label for="password">パスワード</label>
        <span id="password">パスワード(伏字)</span>
        <a href="/users/password_edit/{id}"><button>パスワード変更</button></a>
    </div>

</body>

</html>
