<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>ログイン</title>
		<link rel="stylesheet" type="text/css" href="css/debugger.css">
		<link rel="stylesheet" type="text/css" href="css/style.css">
	</head>
	<body>
		<img class="debuggerBgImg" src="img/debuggerBgImg.png" alt="#デバッガーの喜び背景画像" />
		<div class="wrapper">
			<img class="logoImg" src="img/LogoImg.png" alt="#デバッガーの喜び画像" />
		</div>
		<div class="background-box">
			<h1 id="login-text">ログイン</h1>
			<div class="login-content">
				<span class="error-message" th:if="${param.error}">
					<span>メールアドレスまたはパスワードが違います</span>
				</span>
				<form th:action="@{/login}" method="post">
					<div class="form-content">
						<label class="textbox-text">メールアドレス</label>
						<input class="textbox" type="email" name="email" required>
					</div>
					<div class="form-content">
						<label class="textbox-text">パスワード</label>
						<input class="textbox" type="password" name="password" required>
					</div>
					<div class="btn-content">
						<a href="/registration" class="a-btn">新規登録</a>
						<input type="submit" class="btn" value="ログイン" />
					</div>
				</form>
			</div>
		</div>
	</body>
</html>